
<div id="wrapper">
<div id="show-block">
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">

<h1><%= @user.name %></h1><%= image_tag(@user.avatar.url, class: "round_avatar") %>
Followers: <%= Friendship.all.where(:friend_id => @user.id).count  %>

<% if current_user.friend_ids.include? @user.id %>
<%= link_to "Unfollow", current_user.friendships.detect{|f| f.friend_id == @user.id}, :method => :delete %>
<% else %>
<%= link_to "Follow", friendships_path(:friend_id => @user), :method => :post unless (@user == current_user) || (current_user.friend_ids.include? @user.id ) %>
<% end %>


<%= render partial: 'comments/form', locals: {commentable: @user} %>


<% @user.comments.each do |comment| %>
<div class="row">
<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading"><%= comment.user.name %></div>
  <div class="panel-body">
    <%= comment.content %>
  </div>
</div>
</div>
</div>
<% end %>



<%#= link_to 'Pricing', main_app.pricing_path %>
</div>
</div>
</div>
</div>
</div>
</div>