

<%= form_for(@song) do |f| %>

<div align="center"><%= f.label 'Choose your file' %> 
<%= f.file_field :song %></div>
<br>

<%= f.label "Genre?" %>
<%= f.collection_select :genre_id, Genre.all, :id, :name %>
<br>
<%= f.label "What's the title?" %>
<%= f.text_field :title, autofocus: true%>
<br>
<%= f.submit "Upload!"%>

<% end %>

