<!DOCTYPE html>
<head>
<meta charset="UTF-8" />
<title>SoundManager 2: Bar UI Player (prototype)</title>
<meta name="viewport" content="width=500, initial-scale=1">

</head>

<body>
<div id="wrapper">
<div id="show-block">
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
<%= search_form_for @search, remote: true do |f|  %>
<%= f.label :title_or_user_name_cont, "Search song"  %>
<%= f.text_field :title_or_user_name_cont  %>
<%= f.submit "Search"  %>
<% end %>

<br>

<div id="song_list">
<%= render @songs %>
</div>

<%#= will_paginate @songs %>
            </div>
        </div>
    </div>
</div>
</div>
</div>



</body>

</html>