<div id="wrapper">
<div id="show-block">
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">



<%= form_for(@gig) do |f| %>

<%= f.label 'Event name' %> 
<%= f.text_field :name %>
<br>

<%= f.label 'Date/time' %> 
<%= f.datetime_select :starting_time %>
<br>
<!-- , :class => 'input-group date', :id => "datetimepicker1" -->
<%= f.label 'Address' %> 
<%= f.text_field :address %>

<%= f.submit %>

<% end %>

    </div>
</div>
    </div>
</div>
    </div>
</div>