<!DOCTYPE html>
<html>
<head>
  <title>Musicmedley</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="mediaelement-and-player.min.js"></script>
  <link rel="stylesheet" href="mediaelementplayer.css" /></code>
</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href=""><i class="fa fa-instagram"></i> MusicMedley</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul>
      <ul class="nav navbar-nav navbar-middle">
      <% if user_signed_in? %>
        <li><span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Click here to go to your own InstaGran profile!">
        <%= link_to "Hello, #{current_user.name}", current_user %>
        <%= link_to "Find songs", songs_path %>
        <%= link_to "Create new collection", new_collection_path %>

        </span></span></a>
        </li>
        
        <li>    <%= link_to 'Upload music', new_song_path %></li>
        <li><span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Click here to log out from your profile!"><%= link_to "Log out", destroy_user_session_path, method: :delete %></span></li>
        <li><span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Click here to post a picture!"><%#= link_to "Post a picture!", new_post_path %></li>
        <!-- <li class="dropdown"><span class="has-tooltip" data-toggle="tooltip" data-placement="bottom" title="Click here to check your messages!">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Mailbox <span class="caret"></span></a>
          <ul class="dropdown-menu">
          <span class="has-tooltip-dropdown" data-toggle="tooltip" title="Here you can see all the messages other users have sent to you!">
            <li><%#= link_to "Inbox", mailbox_inbox_path  %></li>
          </span>
            <li><%#= link_to "Sent", mailbox_sent_path %></li>
            <li><%#= link_to "Trashbin", mailbox_trash_path %></li>
            <li role="separator" class="divider"></li>
            <li><%#= link_to "Compose", new_conversation_path %></li>
          </ul>
        </li> -->
        <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<%= yield :koudoku %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>



<%= yield %>

</body>
</html>
