<!DOCTYPE html>
<html>
<head>
  <title>Musicmedley</title>
  <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Simple Sidebar - Start Bootstrap Template</title>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>




    <div id="wrapper" class="">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        MusicMedley
                    </a>
                </li>
                <% if user_signed_in? %>
                <li align="center"><%= link_to image_tag(current_user.avatar.thumb_medium, class: "round_avatar_navbar"), current_user  %></li>
                <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
                <li>    <%= link_to 'Upload music', new_song_path %></li>
                <li><%#= link_to 'Pricing', main_app.pricing_path %></li>
               <li><%= link_to "Hello, #{current_user.name}", current_user %></li>
               <li><%= link_to "Find songs", songs_path %></li>
               <li><%= link_to "Find gigs", gigs_path %></li>
               <li><%= link_to "Announce a gig!", new_gig_path %></li>
               <li><%= link_to "Create new collection", new_collection_path %></li>
               <% if current_user.songs.count > 0 %>
               <% end %>
                    <% else %>
                    <li><%= link_to "Login", new_user_session_path %></li>
                    <li><%= link_to "Sign up", new_user_registration_path %></li>
                    <% end %>
            </ul>
        </div>

                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i id="menu-arrow" class="fa fa-arrow-circle-o-left fa-2x rotate"></i></a>
                    <div class="row">
                      <div class="col-md-1"></div>
                      <div class="col-md-1"></div>
                    <div class="col-md-1"><% if user_signed_in? %><%= link_to image_tag(current_user.avatar.url, class: "round_avatar_navbar"), current_user %> <%# else %><% end %> </div>
                      <div class="col-md-1"><%# if user_signed_in? %><%#= current_user.friends.count.where() %> <%# else %></div><%# end %>
                      <div class="col-md-4" id="main-logo"><%= link_to "MusicMedley", home_index_path %></div>
                      <div class="col-md-1"></div>
                      <div class="col-md-1"></div>
                      <div class="col-md-1"></div>
                      <div class="col-md-1"></div>
                    </div>
                    <%= yield %>
    </div>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>



    <%= yield :koudoku %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>



   

</body>


</html>

</body>
</html>
