<!DOCTYPE html>
<html>
<head>
  <title>Musicmedley</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="mediaelement-and-player.min.js"></script>
  <link rel="stylesheet" href="mediaelementplayer.css" /></code>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield :koudoku %>

<%= yield %>

</body>
</html>
